<div class="post">
<h2>Welcome to Patchwork Fable</h2>
<p>This site is a collaborative story editor, meaning you can write and edit stories with your friends. You can click on any story to add to it. Further, you can also edit or delete any posts within those stories.</p>
<p>That said, please be respectful of other people's work. Please do not delete or alter other people's posts unless they're offensive or significantly off topic.</p>
<p>I have a lot of updates on the way. If you have any suggestions, please email me at bdflynny@gmail.com</p>
Thanks!
</div>
