<!doctype html>
<html>
<head>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
    <nav class="top-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <% if login? %>
            <li><a href="/profile/<%= username %>"><%= username %>'s Profile</a></li>
            <li><a href="/logout">Sign Out</a></li>
            <% else %>
            <li><a href="/login">Login</a></li>
            <% end %>
        </ul>
    </nav>
    <header>
      <h1>Patchwork Fable</h1>
      <h4>A collaborative story editor</h4>
    </header>
    <main>



    <%= yield %>
    </main>
  </div>
</body>
</html>
<script src="/js/jquery.js" type="text/javascript"></script>
<script src="/js/script.js" type="text/javascript"></script>
