<h2>Log In:</h2>

<form class="post" action="" method="post">

    <div>
      <h3><label for="email">Email: </label></h3>
      <input type="text" name="email" />
    </div>

    <div>
      <h3><label for="password">Password: </label></h3>
      <input type="text" name="password" />
    </div>

    <div class="button">
      <input type="submit" value="Submit" />
    </div>

</form>

<a href="/signup">Create new account</a>
