<h2> <%= @fable[0]['title'] %> </h2>

<% @posts.each do |post| %>
  <a href="/<%=@fable[0]['id']%>/<%=post['id']%>">
    <div class="post">
      <p class="post-text"><%= post['message'] %></p>
    </div>
  </a>
<% end %>

<% if login? %>
  <form class="post" action="" method="post">

      <div>
        <h3><label for="message">Add to the story: </label></h3>
        <textarea name="message"></textarea>
      </div>

      <div class="button">
        <input type="submit" value="Submit" />
      </div>

  </form>
<% else %>
  <a href="/login" class="login-button">Log in to add to this story</a>
<% end %>

