body{
  padding:0;
  margin: 0;
  font-family: "cardo";
  background-color: #f4decb;
}

.container {
  margin: 0 auto;
  height: 100%;
  background-color: #f4decb;
  margin-bottom: 0;
  padding-bottom: 100px;
}

/* styles for top nav bar */
nav {
  margin-top: 0;
  height: 50px;
  background-color: #49274A;
}

.top-nav li {
  float: left;
  margin-left: 25px;
  list-style: none;

}

.top-nav a {
  color: white;
}

nav ul {
  float: right;
  margin-right: 15px;
}

/* styles for header */

header {
  /* border-top: 3px solid white; */
  height: 32vmin;
  background-color: #94618e;
  padding: 0;
  margin: 0;
  text-align: center;
}

h1 {
  padding: 0;
  margin: 0;
  font-family: '1 Harrington M', arial, serif;
  font-size: 10vmin;
  font-weight: bold;
  padding-top: 40px;
  color: white;
}

h4 {
  color: #49274A;
  font-size: 4vmin;
  margin-top: 0px;
}

/* styles for main section */

main {
  /* border-top: 3px solid white; */
  text-align: center;
}


/* styles for posts */

h2 {
  font-family: "Montserrat", sans-serif;
  color: #49274A;
}

.post {
  padding: 10px;
  width: 50%;
  margin: 10px auto;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
}

hr {
  width: 40%;
}

.post-text {
  margin: 20px;
}

textarea {
  width: 90%;
  height: 100px;
}

/* styles for buttons */

.button {
  margin-bottom: 20px;
}

#create-story {
  margin-top: 20px;
}

/* styles for links */

a {
  text-decoration: none;
}

.login-button {
  padding: 10px;
  border: 2px solid #49274A;
  background-color: #94618e;
  color: white;
  border-radius: 10px;
  display: inline-block;
  margin-top: 10px;
}

@media only screen
  and (max-device-width: 720px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

body {
  font-size: 24px;
}

.post-text {
  font-size: 24px;
}

.post {
  width: 75%;
}




}

@media (max-width: 720px) {

.post-text {
  font-size: 24px;
}

.post {
  width: 75%;
}



}



